$primary: #232425;
$primary-dark: #1b1c1d;
$primary-base: #232425;
$primary-light: #3b3d42;

$secondary: #a9a9b3;
$secondary-dark: #4e4e57;
$secondary-base: #a9a9b3;
$secondary-light: #b3b3bd;

$accent: #a855f7;
$accent-dark: #9333ea;
$accent-base: #a855f7;
$accent-light: #c084fc;
